/* You can add global styles to this file, and also import other style files */

#myCarousel .carousel .item {
    height: 400px;
    min-height: 350px;
}

.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}